<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     <script src="./new.js"defer></script>
</head>
<link rel="stylesheet" href="asset/css/style.css">


<header>
     <!--Lootie files-->
 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
 <lottie-player src="https://lottie.host/9660503e-0cda-425f-b49c-26680f87060a/1fdw07r76j.json" 
 background="transparent" speed="1" style="width: 105px;  height: 90px; right: 150px; margin-top: 2em;"loop autoplay class="lottie"></lottie-player>
   
 <nav>
 
  <li><a onclick="Link(0)" class="header-link">products</a></li>
  <li><a onclick="Link(1)" class="header-link">Om os</a></li>
  <li><a onclick="Link(2)" class="header-link">Log in</a></li>
     <!-- <a href="http://localhost:4200/login" class="header-link">Login</a>
     <a href="http://localhost:4200/register" class="header-link">Register</a>
     <a href="http://localhost:4200/" class="header-link">product</a>
     <a href="http://localhost:4200/" class="header-link">About us</a> -->
      
 </nav>
 
 </header>
 <div id="products-container">
<script>
     function toBase64(arr) {
   //arr = new Uint8Array(arr) if it's an ArrayBuffer
   return btoa(
      arr.reduce((data, byte) => data + String.fromCharCode(byte), '')
   );
}
    $.get("/product", function(data, status){
 data.forEach(element => {
 
    $("#products-container").append(`
    <div class="product">
     
     <img src="${element.img}" alt="armani-si-edp-womens" border="0" />
     <div class="cards">
         <p class="name">${element.name}</p>
         <p class="content">${element.content}</p>
         <p class="price">${element.price}</p>
         <button class="button">Add to Cart</button>
     </div>
     </div>
         
    ` 
   ) 
 });
 });
</script>
</div>
<!--Footer starts her-->
<footer>
     <ul class="down">
       <li class="down-li">Follow as</li>
       <li class="down-li"><a href=><img src="asset/img/download.jfif " class="FB"></a></li>
       <li class="down-li"><a href=><img src="asset/img/download (1).jfif " class="FB"></a></li>
     </ul>
   </footer>







