<h1>login</h1>
<form action="/login" method ="post">

<div>
     <leble for = "email">email</leble>
     <input type ="email" id = "email"  name = "email" required>
     
</div>
<div>
     <leble for = "password">password</leble>
     <input type ="password" id = "password"  name = "password" required>
     
</div>
<button type="submit">login</button>
</form>
<a href ="/register">Register</a>