<h1>register</h1>
<form action="/register" method ="post">
<div>
     <leble for = "name">name</leble>
     <input type ="text" id = "name"  name = "name" required>
     
</div>
<div>
     <leble for = "email">email</leble>
     <input type ="email" id = "email"  name = "email" required>
     
</div>
<div>
     <leble for = "password">password</leble>
     <input type ="password" id = "password"  name = "password" required>
     
</div>
<button type="submit">register</button>
</form>
<a href ="/login">login</a>
