@import url(https://fonts.google.com/specimen/Akaya+Telivigala?preview.text_type=custom);

 body{
    font-family:"Akaya Telivigala", cursive ;
    background-color:whitesmoke;
}
header{
  background-color: #6a4053;
  
}
nav{
    display: flex;
    flex-direction: row;
    padding: 5px; 
    color: #E2DCE4;
    text-decoration: none;  
  
}
.header-link:hover{
    box-shadow: 0 14px 14px 0 #FFF;
    cursor: pointer;
} 
.lottie{
    width: 65px;
    height: 30px;
}
img{
    width: 150px;
    height: 300px; 
    margin-right: 10px;
    border-radius: 5px;
}
.name{
    color: #fff;
}
.content{
    font-size: 1em;
    color: #fff;
}
.price{
    color: #fff;
}
#products-container{ 
    background-color: #c08fab;
    flex: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.product {
    display: flex;
    grid-template-columns: 20% auto;
    padding: 1em;
    gap: 1em; 
}
.cards{
    bottom: 8px;
}
.button {
    background-color: #EC9704;
    color: black;
    border-color: white;
    padding: 10px 8px;
}
.button:hover{
    background-color: aliceblue;
}
.down{
    background-color: #6a4053;
    flex-direction: row;
    display: flex; 
}
.down-li{
    flex-direction: row;
    display: flex;
    padding: 2em;
    right: 20px;
    color: white;
}
.FB{
  width: 85px;
  height: 40px;
  margin: 0;
}

.main figure{
    display: grid;
    grid-template-columns: 40% auto;
    padding: 1em;
    gap: 1em;
}

