@import url(https://fonts.google.com/specimen/Akaya+Telivigala?preview.text_type=custom);

 body{
    font-family:"Akaya Telivigala", cursive ;
    background-color:whitesmoke;
 
}
 #products-container{ 
    border: 1px solid black; 
    box-sizing: border-box; 
 }



.product {
    width: 170px;
    border-radius: 10px 10px 10px 10px; 
}
